---
import BaseLayout from '../../layouts/baselayout.astro';

import ProjectPosts from '../../components/projectposts.astro';


export async function getStaticPaths() {
  const allProjects = Object.values(import.meta.glob('../projects/*.md', { eager: true }));

  const uniqueTags = [...new Set(allProjects.map((post: any) => post.frontmatter.tags).flat())];


  return uniqueTags.map((tag) => {
    const filteredPosts = allProjects.filter((post: any) => post.frontmatter.tags.includes(tag));

    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });

}

const { tag } = Astro.params;
const { posts } = Astro.props;
---
<BaseLayout pageTitle={tag}>
  <p>Posts tagged with {tag}</p>

    {posts.map((post: any) => <ProjectPosts url={post.url} title={post.frontmatter.title} />)}
</BaseLayout>