---
import BaseLayout from '../../layouts/baselayout.astro';

export async function getStaticPaths() {
  return [
    { params: { tag: "Astro" } },
    { params: { tag: "Web-App" } },
    { params: { tag: "Self-taught" } },
    { params: { tag: "Discord" } },
    { params: { tag: "Resources" } },
    { params: { tag: "Tools" } },
    { params: { tag: "Meta" } },
    { params: { tag: "Moderation" } },
    { params: { tag: "Development" } },
    { params: { tag: "Bot" } },                
  ];
}

const { tag } = Astro.params;
---
<BaseLayout pageTitle={tag}>
  <p>Posts tagged with {tag}</p>
</BaseLayout>