---
import BaseLayout from '../../layouts/baselayout.astro';

const allProjects = Object.values(import.meta.glob('../projects/*.md', { eager: true }));

const tags = [...new Set(allProjects.map((post: any) => post.frontmatter.tags).flat())];






const pageTitle = "Project Tags"
---

<BaseLayout pageTitle={pageTitle}>
    <hr>
    <div class="tags">
        {tags.map((tag) => (
            <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
        ))}
    </div>
</BaseLayout>

<style>
  a {
    color: #E0E3FF;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dashed 1px #a1a1a1;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1.15em;
    background-color: #2b2d31;
  }
</style>