---
const pageTitle = "Contact Me"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<script src="https://kit.fontawesome.com/d927e9314c.js" crossorigin="anonymous"></script>
		<title>{pageTitle}</title>
	</head>

	<body>
    	<div>
			<a href="/">Home</a>
			<a href="/projects/">Projects</a>
			<a href="/contact">Contacts</a>

        	<h1>
            	{pageTitle}
        	</h1>
            <p>Discord: ukkei</p>
    	</div>

	</body>
</html>
