---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<script src="https://kit.fontawesome.com/d927e9314c.js" crossorigin="anonymous"></script>
		<title>FoUnDeR</title>
	</head>

	<body>
    	<div>
			<a href="/">Home</a>
			<a href="/projects/">Projects</a>
			<a href="/contact">Contacts</a>

        	<h1>
            	Projects
        	</h1>
        	<p>
            	<table border="0" class="projects">
                	<tr><th>Name</th><th>Description</th><th>Period</th></tr>
                	<tr><td>Wollis Discord Bot</td><td>A multi-purpose discord application</td><td>Nov 21, 2023 - Present</td></tr>
                	<tr><td>Portfolio Website</td><td>A simple website I made about me, with selected number of programming languages.</td><td>May 17, 2025 - Present</td></tr>
                	<tr><td>The Discord Library</td><td>A discord community which provides tools and resources to make anyone's discord experience less tiring.</td><td>May 17, 2025 - Present</td></tr>                  
            	</table>
        	</p>
    	</div>

	</body>
</html>
