---
const { frontmatter } = Astro.props;
import BaseLayout from '../layouts/baselayout.astro';
---

<BaseLayout pageTitle={frontmatter.title}>
    <hr>
    <h1>{frontmatter.title}</h1>
    <p>Published・{frontmatter.pubDate.toString().slice(0,10)}</p>
    <p><em>{frontmatter.description}</em></p>
    <p>Written by: {frontmatter.author}</p>
    <slot />
</BaseLayout>